/*

relative 定位

*/
.baidu-search, .baidu-sborder, .baidu-logo, 
.baidu-camera, .baidu-button, .baidu-news-nav, 
.news-nav li {
    position: relative;
}


/*

display: inline-block;

*/
.baidu-camera, .baidu-button, .camra-btn-img {
    display: inline-block;
}