/*.default-bottom {
    border-bottom: 1px solid #eae2e2;
}
.default-border {
    border: 1px solid rgba(0, 0, 0, 0.1);
}*/
.white-color {
    color: white;
}
.bg-color {
    background-color: rgba(255,255,255,0.8);
    /*IE8*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#19ffffff",endColorstr="#19ffffff");
}
.header {
   background: rgba(1, 1, 1, 0.3);
}
.header-left, .header-left a, .header-right a {
    color: white;
}
.baidu-button {
    background: #ECECEC;
    color: #555;
}
#b-logo {
    display: none;
}